* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid; */
}

body {
    font-family: "Arial Narrow", sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1em;
}

header {
    margin: 15px 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    width: 110%;
}

.search_bar {
    position: relative;
}

.search_bar input {
    font-size: 17px;
    padding: 0px 30px 0px 10px; 
    border: 2px solid #E9E9E9;
    width: 400px;
    height: 35px;
}

.search_bar img {
    position: absolute;
    top: 6px;
    right: 10px;
}

.cart {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cart img {
    display: block;
}

.cart span {
    color: gray;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.5em;
}

.menu_btn {
    position: absolute;
    display: none;
    height: 1.4em;
    width: 1.75em;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    left: 1em;
    transform: translateY(50%);
    cursor: pointer;
}

.menu_btn > span {
    display: block;
    height: 3px;
    background-color: #3bc3b6;
}

nav {
    background-color: #3bc3b6;
    padding: 10px 0px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
}

nav ul li {
    color: white;
    font-size: 1.125rem;
}

nav ul a {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /* padding: 0px 11px; */
}

nav ul a:hover {
    opacity: 0.5;
    /*text-decoration: underline;*/
}

.middle {
    min-height: 450px;
    background: #2da89b;
}

.middle .main {
    /* background: url(../images/banner_shirt.PNG) no-repeat 0px 55px; */
    display: flex;
    justify-content: center;
    /* width: 800px; */
    margin: 0 auto;
    /* height: 325px; */
    padding-top: 60px;
    /* background-color: red; */
    overflow: hidden;
}

.content {
    /* padding-left: 362px; */
    flex-basis: 440px;
    margin-left: 100px;
    font-family: Arial;
}

.content h1 {
    font-family: "Arial Narrow", sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}

.content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    color: white;
}

.content a {
    text-decoration: none;
}

.circle {
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    float: left;
    margin-right: 17px;
}

#light_green {
    background-color: #7FD6CD;
}

.shop_button {
    display: inline-block;
    /* font-family: "Arial Narrow", sans-serif; */
    font-size: 1.125rem;
    padding: 10px 24px;   
    /* height: 45px;
    width: 150px; */
    color: white;
    /* text-align: center; */
    font-weight: bold;
    border: 3px solid white;
    border-radius: 8px;
    /* line-height: 45px; */
    margin-bottom: 50px;
    transition: background-color 0.3s ease-out;
}

.shop_button:hover {
    background-color: #3bc3b6;
}

div.products {
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
}

.common {
    /* text-align: center; */
    /* line-height: 36px; */
    color: #AAAAAA;
    font-size: 20px;
    /* font-family: "Arial Narrow", sans-serif; */
    /* padding-top: 150px; */
}

.product_box {
    display: flex;
    flex: 1;
    font-weight: bold;
    padding: 1em 0;
    /* justify-content: center;
    align-items: center; */
    /* height: 200px; */
    /* float: left; */
}

.product_box + .product_box {
    border-left: 2px solid #E9E9E9;
}

.product_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_title {
    color: #AAA;
    margin-bottom: 1em;
}

div.shop {
    /* margin-top: 20px;
    margin-left: 200px; */
    font-family: "Arial Narrow", sans-serif;
    font-size: 15px;
    height: 30px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    line-height: 30px;
}

div.shop a {
    background-color: #3BC395;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    display: block;
    color: white;
    text-decoration: none;
}

.featured_products {
    background-color: #2da89b;
}

.featured_products h2 {
    width: 900px;
    margin: 0px auto;
    clear: both;
    padding: 10px 0px;
    color: white;
    font-family: "Arial Narrow", sans-serif;
}

.bottom_products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(2, 250px);
    grid-gap: 40px;
    max-width: 932px;
    padding: 0 1em;
    margin: 2.8125em auto 0;
}

.bottom_products .clothing {
    border: 1px solid #E9E9E9;
    border-bottom: 5px solid #3BC395;
    color: #AAAAAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clothing > * {
    margin-bottom: 0.75em;
}

.price {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.125rem;
    /* font-weight: bold; */
}

.buy_btn {
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.4em 0.75em;
    color: white;
    background-color: #3BC395;
    border-radius: 4px;
}

.buy:hover {
    background-color: skyblue;
}

.bottom_products a {
    text-decoration: none;
}

.bottom {
    background-color: #3bc3b6;
}

div.bottom #bottom_nav {
    width: 900px;
    margin: 0px auto;
}

div.bottom .bottomLists {
    font-size: 17px;
    color: white;
    list-style-type: none;
    float: left;
    margin: 0px 87px 30px 0px;
}

div.bottom .bottomLists h2 {
    font-family: "Arial Narrow", sans-serif;
    margin: 40px 0px 30px 0px;
}

div.bottom .bottomLists li {
    padding: 0px 0px 10px 7px;
}

div.bottom .bottomLists li a {
    text-decoration: none;
    color: white;
}

div.bottom .bottomLists a:hover {
    color: #1e90ff;
    text-decoration: underline;
}

#bottom_nav ul:nth-child(3) {
    margin-right: 0px;
}

#bottom_nav ul:nth-child(4) {
    margin-right: 0px;
    float: right;
}

footer {
    clear: both;
    background-color: #2da89b;
    text-align: center;
    padding: 15px 0px;
    color: white;
}

.clear {
    clear: both;
}

@media all and (max-width: 760px) {
    body {
        /* background-color: red; */
    }

    header .container {
        flex-direction: column;
        align-items: stretch;
        max-width: 600px;
    }

    .logo { 
        align-self: center;
        margin-bottom: 0.5em;
        transform: translateX(-30px);
    }

    .logo img {
        width: auto;
    }

    .search_bar input {
        width: 100%;
    }

    .cart {
        position: absolute;
        right: 1em;
    }

    .menu_btn {
        display: flex;
    }

        .open span,
        .menu_btn span {
            transition: all 0.3s ease-out;
        }

        .open span:first-child {
            transform: translateY(6px) rotate(45deg);
        }
        
        .open span:nth-child(2) {
            opacity: 0;
        }
        
        .open span:last-child {
            transform: translateY(-7px) rotate(-45deg);
        }
}