/**** GLOBAL STYLES ****/

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font: 16px "Arial Narrow", sans-serif;
}

a {
    text-decoration: none;
}

/**** CONTENT CONTAINER ****/

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1em;
}

/**** HEADER ****/

header {
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search_bar {
    position: relative;
}

.search_bar input {
    font-size: 1rem;
    padding: 0px 30px 0px 10px; 
    border: 2px solid #E9E9E9;
    width: 400px;
    height: 35px;
}

.search_bar img {
    position: absolute;
    top: 6px;
    right: 10px;
}

.cart {
    display: flex;
    align-items: center;
}

.cart img {
    display: block;
}

.cart span {
    color: gray;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.5em;
}

.menu_btn {
    position: absolute;
    display: none;
    height: 1.4em;
    width: 1.75em;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    left: 1em;
    transform: translateY(25%);
    cursor: pointer;
}

.menu_btn > span {
    display: block;
    height: 3px;
    background-color: #3bc3b6;
}

nav {
    background-color: #3bc3b6;
    padding: 10px 0px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
    transition: transform 0.3s ease-out;
}

nav ul li {
    color: white;
    font-size: 1.125rem;
}

nav ul a {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    /* padding: 0px 11px; */
}

nav ul a:hover {
    opacity: 0.5;
    /*text-decoration: underline;*/
}

.open_menu {
    transform: translateX(0);
}


.middle {
    min-height: 450px;
    background: #2da89b;
}

.middle .main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 60px;
    overflow: hidden;
}

.content {
    /* padding-left: 362px; */
    flex-basis: 440px;
    margin-left: 100px;
    font-family: Arial;
}

.content h1 {
    font-family: "Arial Narrow", sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
}

.content p {
    font-size: 1.125rem;
    line-height: 30px;
    margin-bottom: 15px;
    color: white;
}

.content a {
}

.circle {
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    float: left;
    margin-right: 17px;
}

#light_green {
    background-color: #7FD6CD;
}

.shop_button {
    display: inline-block;
    font-size: 1.125rem;
    padding: 10px 24px;   
    color: white;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 8px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease-out;
}

.shop_button:hover {
    background-color: #3bc3b6;
}

.products {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 0px auto;
}

.common {
    color: #AAAAAA;
    font-size: 1.25rem;
}

.product_box {
    display: flex;
    flex: 1;
    font-weight: bold;
    padding: 1em 0;
}

.product_box + .product_box {
    border-left: 2px solid #E9E9E9;
}

.product_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_title {
    color: #AAA;
    margin-bottom: 1em;
}

.shop {
    /* margin-top: 20px;
    margin-left: 200px; */
    font-family: "Arial Narrow", sans-serif;
    font-size: 0.875rem;
    height: 30px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    line-height: 30px;
}

.shop a {
    background-color: #3BC395;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    display: block;
    color: white;
    transition: opacity 0.3s ease-out;
}

.shop a:hover {
    opacity: 0.8;
}

.featured_products {
    background-color: #2da89b;
}

.featured_products h2 {
    max-width: 940px;
    margin: 0px auto;
    clear: both;
    padding: 10px 20px;
    color: white;
    font-family: "Arial Narrow", sans-serif;
}

.bottom_products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 40px;
    max-width: 932px;
    padding: 0 1em;
    margin: 2.8125em auto;
}

.bottom_products .clothing {
    border: 1px solid #E9E9E9;
    border-bottom: 5px solid #3BC395;
    color: #AAAAAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clothing > * {
    margin-bottom: 0.75em;
}

.price {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.125rem;
    font-weight: bold;
}

.buy_btn {
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.5em 0.8125em;
    color: white;
    background-color: #3BC395;
    border-radius: 4px;
    transition: opacity 0.3s ease-out;
}

.buy_btn:hover {
    opacity: 0.8;
}

.buy:hover {
    background-color: skyblue;
}

.bottom_nav {
    background-color: #3bc3b6;
    color: white;
    padding-bottom: 40px;
}

.bottom_nav_container {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.bottom_list {
    font-size: 1rem;
    list-style-type: none;
}

.brand_nav h2 {
    font-family: "Arial Narrow", sans-serif;
    /* margin: 40px 0px 30px 0px; */
    margin: 40px 0px 30px;
}

.bottom_list li {
    padding: 0px 0px 10px 7px;
}

.bottom_list li a {
    color: white;
}

.bottom_list a:hover {
    color: #1e90ff;
    text-decoration: underline;
}

footer {
    clear: both;
    background-color: #2da89b;
    text-align: center;
    padding: 15px 0px;
    color: white;
}

@media all and (max-width: 760px) {
    html {
        font-size: 14px;
    }
    
    header .container {
        flex-direction: column;
        align-items: stretch;
    }
    
    .logo { 
        align-self: center;
        margin-bottom: 0.5em;
        transform: translateX(-15px);
    }
    
    .logo img {
        width: 75%;
    }
    
    .search_bar input {
        width: 100%;
    }
    
    .cart {
        position: absolute;
        right: 1em;
    }

    .cart img {
        width: 36px;
    }
    
    .menu_btn {
        display: flex;
    }
    
    .open span,
    .menu_btn span {
        transition: all 0.3s ease-out;
    }
    
    .open span:first-child {
        transform: translateY(6px) rotate(45deg);
    }
    
    .open span:nth-child(2) {
        opacity: 0;
    }
    
    .open span:last-child {
        transform: translateY(-7px) rotate(-45deg);
    }
    
    nav {
        position: relative;
        padding: 0px;
    }
    
    nav .container {
        padding: 0px;
    }
    
    nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        width: 100%;
        height: calc(100vh - 100px);
        transform: translateX(-100%);
        background-color: #3bc3b6;
    }
    
    nav span {
        display: none;
    }
    
    nav li {
        padding-left: 1em;
    }
    
    .banner_img {
        align-self: flex-start;
    }

    .content {
        margin-left: 50px;
    }

    .bottom_nav_container {
        /* flex-wrap: wrap;   */
        flex-direction: column;
    }

    .brand_nav {
        /* flex-basis: 100%; */
        margin-left: 100px;
    }

}